/* Barra de navegación + Header */

.headerContainer {
  height: 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: #2d304a;
}

.headerText {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--lighter);
}

.logoContainer {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}


.hamburguerContainer {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hamburguerButton {
  height: auto;
  width: 15%;
  cursor: pointer;
}

.hamburguerIcon {
  height: 100%;
  width: 100%;
}

.navContainer {
  height: calc(90% - 6rem);
  width: 90%;
  position: absolute;
  top: 6rem;
  right: 0;
  background-color: var(--darker-50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  border-bottom-left-radius: 2rem;
}

.nav {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  height: calc(70%/8);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: calc(30%/16);
  border-radius: 2rem;
  background-color: var(--primary);
  color: var(--lighter);
}
/* 
.button#mainButton {
  background-color: rgb(196, 75, 95);
  color: white;
}

.button#secondaryButton {
  background-color: rgb(147, 56, 73);
  color: white;
} */

.buttonContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

/* Menu Abierto */

.navContainer#open{
  display: flex;
}

/* Menu Cerrado */

.navContainer#closed{
  display: none;
}

/* Responsivo */

@media screen and (min-width: 767px) {
  .headerContainer, .navContainer#open, .navContainer#closed {
    display: none;
  }
}

